.wrapper {
  position: absolute;
  top: -1vh;
  left: 0;

  button {
    color: #000111;
    background: #FFF;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
}