.wrapper {
  position: absolute;
  top: 1vh;
  left: 1vh;

  button {
    color: #000111;
    background: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #f1f1f1;
    border: none;
    outline: none;
  }
}
