.wrapper {
  position: absolute;
  top: 1vh;
  left: 1vh;

  button {
    color: #000111;
    background: #fff;
    padding: 8px 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #f1f1f1;
    border: none;
    outline: none;
    transition: all 0.1s linear;

    &:hover {
      transform: scale(1.02);
    }
  }
}
