* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #919eed;
  transition: 0.4s ease-in-out;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden !important;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coffee {
  padding: 3px;
  
  font-size: 10px;
}
.credits {
  text-align: center;
}

.personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.profile {
  color: #f1f1f1;
  font-size: 2.5vh;
  font-weight: bold;
}

img {
  position: relative;
  z-index: 99;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin-left: 8px;
  padding: 10px;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 65px;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 900;
      letter-spacing: 2px;
      color: #fff;
    }
    nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          list-style: none;
          margin: 0 60px;
          &.btn {
            a {
              color: #000111;
              font-weight: 600;
              background: #FFF;
              padding: 16px 24px;
              border-radius: 10px;
            }
          }
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

.title {
  font-size: 10rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  span {
    display: block;
  }
  @media (max-width: 1440px) {
    font-size: 6rem;
  }
}

.art {
  color: #bfd8c5;
}

.about {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  margin: 120px auto;
  color: #000111;
  span {
    display: block;
  }
  @media (max-width: 1440px) {
    font-size: 1.5rem;
  }
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.socials p {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 22px;
}

.socials p a {
  color: #fff;
  display: flex;
  align-items: center;
}

.socials p a svg {
  margin-right: 4px;
}

div.personal aside {
  background-color: rgba(255, 255, 255,  .2);
  border-radius: 4px;
  padding: 8px 16px;
}

div.personal aside p {
  color: #000;
}